#!/bin/bash

# make sure udiskie is running, for usb auto detection
udiskie &

# start xbindkeys to setup my keybindings
xbindkeys

# for the desktop set the refresh rate
if [[ $HOSTNAME == "archdesktop" ]]; then
    # also set the 120HZ refresh rate and resolution
    xrandr --output DVI-I-1 --mode "1920x1080" --rate 120
fi

#for the laptop let's disable touchpad when typing
if [[ $HOSTNAME == "archlenovo" ]]; then
    # more info here: https://wiki.archlinux.org/index.php/Touchpad_Synaptics#Using_.xinitrc
    syndaemon -t -k -i 2 -d &
fi

# activate custom xkeymap configuration
test -f ~/.Xkeymap && xkbcomp ~/.Xkeymap $DISPLAY

# if Xresources is there load it
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# If there is an .Xmodmap load it
if [[ -f ~/.Xmodmap ]]; then
    xmodmap ~/.Xmodmap
fi


# Use AltGr to allow for writting Umlauts and other special chars. Yay German!
# https://zuttobenkyou.wordpress.com/2011/08/24/xorg-using-the-us-international-altgr-intl-variant-keyboard-layout/
# Also set US and Greek keyboard layout and use Right Ctrl + Right Shift to switch between them
#setxkbmap -rules evdev -model evdev -layout us,el -variant altgr-intl -option grp:rctrl_rshift_toggle

# Configure xautolock to use our blurring script
xautolock -time 10 -locker ~/.local/bin/my-i3-blur-lock&

# Set the PATH. Has to be set from here to be also visible in other window manager apps like dmenu
source ~/.lefpathsetter
