#!/bin/bash

# make sure udiskie is running, for usb auto detection
udiskie &

# start xbindkeys to setup my keybindings
xbindkeys

# for the desktop set the refresh rate
if [ $HOSTNAME == "archdesktop" ]; then
    # also set the 120HZ refresh rate
    xrandr --output DVI-I-1 --mode 0x281
fi

#for the laptop let's disable touchpad when typing
if [ $HOSTNAME == "archlenovo" ]; then
    # more info here: https://wiki.archlinux.org/index.php/Touchpad_Synaptics#Using_.xinitrc
    syndaemon -t -k -i 2 -d &
fi

# activate custom xkeymap configuration
test -f ~/.Xkeymap && xkbcomp ~/.Xkeymap $DISPLAY

# if Xresources is there load it
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# If there is an .Xmodmap load it
if [ -f ~/.Xmodmap ]; then
    xmodmap ~/.Xmodmap
fi
