Host wojpetvps_others
   Hostname 188.241.115.68
   Port 1986
   User wrubel

Host wojpetvps
   Hostname 188.241.115.68
   Port 1986
   User git

Host refu
   Hostname refu.co
   Port 47926
   User realinte

Host whwithdraw
    Hostname 159.100.249.128
    Port 54345
    User lefteris

Host whwithdrawbot
    Hostname 159.100.249.221
    Port 54345
    User lefteris

Host sikorka
     Hostname sikorka.io
     Port 1953
     User lefteris