Host wojpetvps_others
   Hostname 188.241.115.68
   Port 1986
   User wrubel

Host wojpetvps
   Hostname 188.241.115.68
   Port 1986
   User git

Host refu
   Hostname refu.co
   Port 47926
   User realinte

